
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --primary: #273364;
    --secondary: #a31f25;
    --background: #fef7ef;
    --green: #8aa357;
}

body {
    background-color: #fef8f0;
}

h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 45px;
    color: var(--primary);
}

p {
    font-size: 25px;
    word-spacing: 4px;
    font-weight: 300;
}

.logo {
    width: 200px;
    margin-left: 25px;
    transition: 1s;
}

.logo:hover {
    transform: scale(1.05);
    transition: 1s;
    cursor: pointer;
}

nav {
    height: 100px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
    z-index: 10;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    padding: 0 50px;
}

.nav-links li a {
    color: black;
    font-size: 25px;
    text-decoration: none;
    font-family: "League Spartan", sans-serif;
}


  .burgermenu {
    display: none;
}

.ikoner {
    display: flex;
    gap: 0 20px;
    margin-right: 40px;
}

.ikoner img {
    width: 40px;

}

.scrolled {
    background-color: var(--background);
    transition: .2s;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.forside {
    height: 85vh;
    z-index: -1;
    padding-top: 100px;
}

.forsideelementer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    z-index: 1;
}


.forsideelementer img {
    position: absolute;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    filter: blur(.5px);
}

.forsideelementer h1 {
    display: flex;
    width: 60%;
    position: absolute;
    font-family: "League Spartan", sans-serif;;
    color: white;
    font-size: 5rem;
    text-align: center;
}

.forsideknap {
    display: flex;
    position: absolute;
    margin-top: 350px;
    border-radius: 20px;
    background-color: var(--primary);
    width: 200px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transition: 1s;
}

.forsideknap:hover {
    transform: scale(1.07);
    transition: 1s;
    cursor: pointer;
}

.forsideknap a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    margin: 0 auto;
    text-decoration: none;
    font-weight: 500;
}

#fadein {
    opacity: 0;
}

.anmeldelser {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.anmeldelse1 {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.anmeldelse2 {
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.anmeldelsestekst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
}

.stjerner {
    margin-bottom: 20px;

    
}

.stjerner img {
    width: 40px;
}

.howto {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    gap: 20px 100px;
    margin-bottom: 100px;
}

.howto img {
    width: 300px;
}

.howto h3 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px;
}

.howto p {
    margin: 10px 0;
    width: 320px;
    height: 75px;
}

.howtoknap {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: var(--green);
    width: 150px;
    height: 45px;
}

.howtoknap a{
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.fredagskassen {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.fredagsknap {
    display: flex;
    border-radius: 20px;
    background-color: var(--primary);
    width: 200px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transition: 1s;
}

.fredagsknap a {
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
}

.fredagsknap:hover {
    transform: scale(1.07);
    transition: 1s;
    cursor: pointer;
}

.fredagskassen p {
    margin: 40px 0 ;
}

.formetbillede {
    width: 100%;
    margin-top: -100px;
}

.formetbillede img {
    width: 100%;
    object-fit: cover;
    
}

.footer-container {
    z-index: 1;
    display: flex;
    color: black;
    justify-content: space-evenly;
    font-size: 25px;
    font-weight: 300;
    gap: 100px;
    flex-wrap: wrap;
    word-spacing: 4px;
    padding: 60px 60px;
    width: 100%;
    background-color: var(--background);
  }

  .footermenu h3, .footerkontakt h3, .footerinfo h3 {
    font-weight: 500;
  }

  .footermenu {
    display: flex;
    text-align: left;
    flex-direction: column;
  }

  .footermenu ul li {
    padding: 10px 0;
  }

  .footermenu ul li a {
    color: black;
  }

  .footermenu h3, .footerkontakt h3, .footerinfo h3 {
    margin-bottom: 15px;
  }

  .footerkontakt {
    display: flex;
    text-align: left;
    flex-direction: column;
  }

  .footerkontakt ul li {
    padding: 10px 0;
  }

  .footerkontakt ul li a {
    color: black;
  }

  .footerinfo {
    display: flex;
    text-align: left;
    flex-direction: column;
  }

  .footerinfo p {
    margin-bottom: 15px;
  }

  .socials img {
    width: 50px;
    fill: black;
    transition: .5s;
  }

  .socials img:hover {
    transform: scale(1.1);
    transition: .5s;
  }

  .footercopyright {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .footercopyright p {
    font-size: 20px;
    opacity: 50%;
  }

@media only screen and (max-width: 1024px) {

    .burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 6rem;
        border: 0;
        padding: 0;
        gap: 7px;
        background: none;
        cursor: pointer;
        z-index: 1;
      }
      
      .burger :where(.top-bread, .meat, .bottom-bread) {
        background: var(--primary);
        height: 4px;
        width: 50%;
        border-radius: 4px;
        display: block;
        transition: transform 300ms ease;
      }
      
      .burger[aria-expanded=true] .top-bread {
        transform: translateY(calc(5px + 6px)) rotate(45deg);
      }
      
      .burger[aria-expanded=true] .meat {
        transform: rotate(45deg);  
      }
      
      .burger[aria-expanded=true] .bottom-bread {
        transform: translateY(calc(-4px + -7px)) rotate(-45deg);
      }

      .nav-links {
        display: none;
      }


.nav-active .nav-links {
    display: none;
}

.nav-active .burgermenu {
    width: 100%;
    right: 0;
    margin-top: 100px;
    height: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    flex-direction: column;
    align-items: center;
    display: flex;
    list-style: none;
}

.nav-active .burgermenu li {
    margin: 40px 0;
    margin-top: 100px;

}

.nav-active .burgermenu li a {
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 50px;
}

.forsideelementer h1 {
    font-size: 3rem;
}

.howto {
    gap: 75px 0;
}

.footer-container {
    justify-content: flex-start;
  }
}

